<!doctype html>
<html lang="ru">

<head>
  <title>Список заказов</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <!-- CSS-->
  <link rel="stylesheet" href="style.css">
  <!--Angular-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  <script src="app.js"></script>


</head>

<body ng-app="sortApp" ng-controller="mainCtrl as vm"  openorder = 'vm.openOrder(order)'>

  <!-- Навигация -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href="#" class="navbar-brand">
      <img src="http://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="logo" width="30px" height="30px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavigation">
        <span class="navbar-toggler-icon"></span>
     </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Домой</a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link">Заказы</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">О нас</a>
        </li>
      </ul>

    </div>
  </nav>

  <!--Навигация-->

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-sm">

        <!--   Кнопки Добавить/Удалить-->
        <button type="button" class="btn btn-primary" id="button" ng-click="vm.add()">Добавить</button>


        <!--   Кнопки Добавить/Удалить-->

        <!--Форма для сортировки-->

        <form id="sort-form" name="sort-form">
          <div class="form-group">
            <label for="sort-col">Выберите столбец для сортировки</label>
            <select name="sort-col" id="sort-col" ng-model="vm.Type">
              <option value = vm.Type>Number</option>
              <option value = vm.Type>customer</option>
              <option value = vm.Type>manager</option>
              <option value = vm.Type>status</option>
              <option value = vm.Type>summ</option>

            </select>
          </div>
          <div class="form-group">
            <label for="sort-order">Выберите порядок сортировки</label>
            <select name="sort-order" id="sort-order" ng-model="vm.sortOrder">
              <option value = false >По возрастанию</option>
              <option value = true >По убыванию</option>
            </select>
          </div>
        </form>
        <div class="alert alert-info">
          <p>Sorted Column: {{vm.sortType}}</p>
          <p>Sort Order: {{vm.sortOrder}}</p>
        </div>
        <!--Форма для сортировки-->

        <!--Форма для изменения таблицы-->
        <forma order = 'vm.order'  addbtn = 'vm.addbtn'></forma>
        <!--Форма для изменения таблицы-->
      </div>
    </div>


    <!-- Таблица -->
    <div class="row">
      <div class="col-xl">
        <tablica order = 'vm.order' addbtn = 'vm.addbtn' openorder = 'vm.openOrder(order)' key = 'vm.key'></tablica>
      </div>
    </div>
    <!--Таблица -->

  </div>
</body>
