<form id="testForm" name="testForm">

             <div class="form-group">
               <label for="test-form-Number">Номер заказа</label>
              <input type="number" class="form-control" id="test-form-Number" name="testFormNumber" placeholder="Номер заказа"
              value="{{formCtrl.order.number}}">
             </div>

             <div class="form-group">
               <label for="test-form-Customer">Покупатель</label>
              <input type="text" class="form-control"  id="test-form-Customer" placeholder="Покупатель" value="{{formCtrl.order.customer}}">
             </div>


             <div class="form-group">
               <label for="test-form-Manager">Менеджер</label>
              <input type="text" class="form-control"  id="test-form-Manager" placeholder="Менеджер" value="{{formCtrl.order.manager}}">
               </div>



             <div class="form-group">
              <label for="test-form-Price">Статус заказа</label>
              <select class="form-control" id="test-form-Status" type="text"  placeholder="Статус заказа">
                  <option value="Выполнен">{{formCtrl.order.status}}</option>
                  <option value="В обработке">{{formCtrl.order.status}}</option>
                  <option value="Отказ">{{formCtrl.order.status}}</option>
              </select>
            </div>
             <div class="form-group">
              <label for="test-form-Price">Сумма</label>
              <input type="number" class="form-control" id="test-form-Price" placeholder="Сумма" value="{{formCtrl.order.summ}}">
              </div>

            <button type="submit" class="btn btn-primary" id="button" ng-click="formCtrl.saveEdited()" ng-show="formCtrl.addbtn">Добавить</button>
            <button type="submit" class="btn btn-primary" id="button" ng-click="formCtrl.edit(formCtrl.order)" ng-hide="formCtrl.addbtn">Изменить</button>
            <button type="button" class="btn btn-primary" id="button" ng-click="formCtrl.cancel()">Отмена</button>
          </form>
            <p>Order: {{formCtrl.order}}</p>
